.contact-list {
  height: 80vh;
  overflow-y: auto;
}

.contact-list > ul {
  padding: 20px;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-list > ul > li {
  display: grid;
  grid-template-columns: 1fr 1fr 20% 1fr 1fr;
  overflow: hidden;
  gap: 100px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 400;
  list-style-type: none;
  width: 100%;
  box-shadow: 0px 0.2px 2.9px rgba(0, 0, 0, 0.006),
    0px 0.5px 6.7px rgba(0, 0, 0, 0.008), 0px 0.9px 11.7px rgba(0, 0, 0, 0.009),
    0px 1.4px 18.5px rgba(0, 0, 0, 0.01), 0px 2.1px 28.6px rgba(0, 0, 0, 0.011),
    0px 3.3px 44.6px rgba(0, 0, 0, 0.012), 0px 5.5px 74.1px rgba(0, 0, 0, 0.014),
    0px 11px 148px rgba(0, 0, 0, 0.02);
}

.message-icon {
  color: var(--secondary-color);
  display: block;
  cursor: pointer;
}
.contact {
  width: 200px;
  text-align: left;
}

.contact-list > ul > li:hover {
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
}

.contact-list-header {
  padding: 20px;
  font-size: 20px;
  color: var(--primary-color);
  font-weight: bold;
}

.contact,
.email {
  font-size: 16px;
  font-weight: 700;
}


