.sidebar {
  display: flex;
  grid-template-columns: 30% 70%;
}
.top-section {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  padding: 15px;
  display: grid;
  width: 200px;
  border-right: 1px solid var(--tertiary-color);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: start;
  /* border-radius: 20px 0px 0px 20px; */
  min-height: 100vh;
}
.side-icon {
  size: 40px;
  height: 1.2em;
}

#add-friend {
  border-radius: 50%;
  padding: 5px;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.item > span {
  font-size: 14px;
  font-weight: 500;
}

a {
  color: var(--tertiary-color);
  text-decoration: none;
}

main {
  height: 100vh;
  margin: 0 auto;
  width: 100%;
}
