.sidebar {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  padding: 15px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: start;
  border-radius: 20px 0px 0px 20px;
}
.side-icon {
  size: 40px;
  height: 1.2em;
}

#add-friend {
  border-radius: 50%;
  padding: 5px;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.item > span {
  font-size: 14px;
  font-weight: 500;
}
