@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
:root {
  --primary-color: #22223b;
  --secondary-color: #f18701;
  --tertiary-color: #f1f3f5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  min-height: 100vh;
}
