.message-container {
  border-right: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.top-header {
  height: 100px;
  padding: 20px;
  margin-bottom: 15px;
  flex-shrink: 0;
}

.cards {
  overflow-y: auto;
  max-height: 80vh;
}
